{% extends "master.html" %}

{% block title %}
    Blog about anything!
{% endblock %}

{% block content %}
    <div>
        <div class="sidebar">
            <ul>
                <h2 style="color:rgb(0,219,34); text-align: center;">Welcome, {{user.username}}</h2>
                <li><a href="{% url 'logout' %}">Post</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div> 
        <div class="postform">
            <p><strong>What do you feel like sharing today?</strong></p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">SUBMIT POST</button>
            </form>
        </div>
    </div>
{% endblock %}