{% extends "master.html" %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block content %}
    <div class="sidebar">
        <ul>
            <h2 style="color:rgb(0,219,34); text-align: center;">Welcome, {{user.username}}</h2>
            <li><a href="{% url 'postform' %}">Post</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="feed"> 
        <h1>Replies to u/{{post.author}}'s comment:</h1>
        <div class="post">
            <strong>u/{{post.author}}</strong>
            <h3>{{post.title}}</h1>
            <p>{{post.content}}</p>
            <p>{{post.pub_date}}</p>
        </div>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>u/{{comment.author}}</strong><br>
                    {{comment.content}}<br><br>
                    {{comment.pub_date}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}